
    .bg-footer{
        background-color: #101525;
        height: max-content;
        
        a{
            text-decoration: none;
            color: white;
            i{
                width: 40px;
                height: 40px;
            }
        }
        h6{
            font-weight: 700;
        }
    }
    #copyright{
        text-align: center;
    }

