$main-color: 	#3f5192;


.card-style{
    width: 100%;
    position: relative;
    box-shadow: 0 10px 30px 0 rgba(0,0,0,0.3);
    background: transparent;
    border: none;

    .body-card{
        
        padding:20px;

        .form-label-group{

            .form-control{
                border: 0;
                border-bottom: 2px solid #93a0ce;
                border-radius: 0;
                color: $main-color;
                background: transparent;
                font-size: 18px;
                font-weight: 400;
                transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                box-shadow: none;
            }
            .texArea-style{
                width: 100%;
                margin-top: 15px;
                padding: 10px;
                border: 0;
                border-bottom: 2px solid #93a0ce;
                background: transparent;
                display: block;
                color: $main-color;
                font-size: 18px;
                font-weight: 400;
                transition: transform 0.2s ease-in-out;

            }  
            .form-control:focus,
            .texArea-style:focus{
                outline: none;
                border-bottom: 2px solid $main-color;
            }
            
        }
    
    .btn-style{
        background: $main-color;
        color: rgba(255,255,255,0.5);
        width: 100%;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 16px;
        padding: 8px 15px;
        border: none;
        cursor: pointer;
}
   .btn-style:hover{
       color: rgba(255, 255, 255, 0.8);
       background-color: #4a60af;
   }
}}




    
    

