.img-skewed-left{
    perspective-origin: left center;
}
.img-skewed{
    widows: 100%;
    transform: skewY(175deg);
    box-shadow: 0 10px 30px 0 rgba(0,0,0,0.3);
    perspective: 1500px;
    transform-style: preserve-3d; 
    border-radius: .625rem;

    .img-skewed-item{
        backface-visibility: hidden;
    }
    }