$main-color: #3f5192;

@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
//@import 'node_modules/@fortawesome/fontawesome-free/scss/regular';
@import "node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";

body {
    font-family: 'Josefin Sans', sans-serif !important;

    h2 {
        font-family: 'Amatic SC', cursive;
        font-weight: 700;
        display: block;

        .main-color {
            color: $main-color;
        }
    }

    h4 {
        font-family: 'Amatic SC', cursive;
    }
}

.main-color {
    color: $main-color;
}

footer {
    font-family: 'Josefin Sans', sans-serif !important;
}
