#myCarousel{
    box-shadow: 0 10px 30px 0 rgba(0,0,0,0.3);

.carousel-item{
    border: none;
    width: 100%;
    border-radius: 25px;
    
    img{
        border-bottom-right-radius: 20%;
    }

    h5{
        padding-top: 20px;
        text-align: center;
    }
    a{
        text-decoration: none;
        color:#3f5192;
        margin-left: auto;
        margin-right: auto;
    
    }
    a:hover{
        color: #122466;
    }
}}
